<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AHS Attendance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD1D5611DB11A620049626D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD1D5721DB11A620049626D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD1D57D1DB11A630049626D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
